<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>后台管理系统</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/main.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/bootstrap-responsive.min.css">
</head>
<body>
<!-- 上 -->
<include file ="Common/header" />
<!-- 右 -->
<div class="content">
    <div class="header">
        <h1 class="page-title">角色列表</h1>
    </div>

    <div class="well">
    <a class="btn btn-primary" onclick="javascript:window.location.href='role_add.html'">新增</a>
        <!-- table -->
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>用户组</th>
                    <th>权限id</th>
                    <th>权限ac</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            <volist name="group" id="g" key="k" >

            <tr class="success">
                <td>{$g.role_id}</td>
                <td>{$g.role_name}</td>
                <td>{$g.role_auth_ids}</td>
                <td>{$g.role_auth_ac}</td>
                <td>
                    <a href="__CONTROLLER__/setauth/id/{$g.role_id}">分派权限</a>
                    <a href="#myModal" role="button" data-toggle="modal">删除</a>
                </td>
            </tr>

            </volist>
            </tbody>
        </table>
        <!-- pagination -->
        <div class="pagination">
            <ul>
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
    </div>
    <!-- delete showmodaldialog -->
    <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">删除</h3>
        </div>
        <div class="modal-body">
            <p class="error-text"><i class="icon-warning-sign modal-icon"></i>确定删除该数据吗？</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-danger" data-dismiss="modal">删除</button>
        </div>
    </div>
    <!-- footer -->
    <footer>
        <hr>
        <p>© 2017 <a href="javascript:void(0);" target="_blank">ADMIN</a></p>
    </footer>
</div>
</body>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="__PUBLIC__/Admin/js/jquery-1.8.1.min.js"></script>
<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
<!-- 日期控件 -->
<script src="__PUBLIC__/Admin/js/calendar/WdatePicker.js"></script>
</html>