<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>后台管理系统</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/main.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css">
</head>
<body>
<!-- 上 -->
<include file ="Common/header" />
<!-- 右 -->
<div class="content">
    <div class="header">
        <h1 class="page-title">权限列表</h1>
    </div>

    <div class="well">
    <a class="btn btn-primary" onclick="javascript:window.location.href='auth_add.html'">新增</a>
        <!-- table -->
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>权限名称</th>
                    <th>上级id</th>
                    <th>控制器</th>
                    <th>方法</th>
                    <th>是否菜单项</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>

            <volist name="data" id="a" key="k" >
                <tr class="success">
                    <td>{$a.id}</td>
                    <td>{$a.level|str_repeat='&emsp;',###*2}{$a.auth_name}</td>
                    <td>{$a.pid}</td>
                    <td>{$a.auth_c}</td>
                    <td>{$a.auth_a}</td>
                    <td><if condition="$a.is_nav == 1 " >是</if></td>
                    <td><a href="auth_edit/id/{$a.id}" class="tablelink">编辑</a> <a href="auth_del/{$a.id}" class="tablelink"> 删除</a></td>
                </tr>
            </volist>

            </tbody>
        </table>
    </div>
    <!-- footer -->
    <footer>
        <hr>
        <p>© 2017 <a href="javascript:void(0);" target="_blank">ADMIN</a></p>
    </footer>
</div>
</body>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="__PUBLIC__/Admin/js/jquery-1.8.1.min.js"></script>
<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
<!-- 日期控件 -->
<script src="__PUBLIC__/Admin/js/calendar/WdatePicker.js"></script>
</html>