
<!-- 上 -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav pull-right">
                <li id="fat-menu" class="dropdown">
                    <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user icon-white"></i> admin
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="javascript:void(0);">修改密码</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="__MODULE__/Login/logout">安全退出</a></li>
                    </ul>
                </li>
            </ul>
            <a class="brand" href="__MODULE__/Index/index"><span class="first">后台管理系统</span></a>
            <ul class="nav">
                <li class="active"><a href="__MODULE__/Index/index">首页</a></li>
                <li><a href="javascript:void(0);">系统管理</a></li>
                <li><a href="javascript:void(0);">权限管理</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- 左 -->
<div class="sidebar-nav">

    <volist name= "Think.session.s_frist" id = "frist" key = "k">
        <a href="#error-menu{$k}" class="nav-header collapsed" data-toggle="collapse"><i class="icon-exclamation-sign"></i>{$frist.auth_name}</a>
        <ul id="error-menu{$k}" class="nav nav-list collapse">

            <volist name= "Think.session.s_secent" id = "secent" key = "c_k">
                <if condition = "$secent.pid eq $frist.id ">
                    <li><a href="__MODULE__/{$secent.auth_c}/{$secent.auth_a}">{$secent.auth_name}</a></li>
                </if>
            </volist>
        </ul>
    </volist>

    <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-exclamation-sign"></i>系统管理</a>
    <ul id="dashboard-menu" class="nav nav-list collapse">
        <li><a href="javascript:void(0);">密码修改</a></li>
    </ul>
</div>